* {
  background-color: black;
  color: white;
}

#title {
  font-family: "Bai Jamjuree", serif;
  font-size: 38px;
  font-style: oblique;
  margin: 2px;
}

.operators {
  height: 100px;
  width: 100px;
  font-family: "Bai Jamjuree", serif;
  font-size: 35px;
}

#real-input {
  height: 90px;
  width: 400px;
  font-family: "Bai Jamjuree", serif;
  font-size: 60px;
  text-align: right;
  border: 2px solid white;
  margin: 2px;
  padding: 5px;
  overflow: hidden;
}

#intermediaries {
  font-family: "Bai Jamjuree", serif;
  font-size: 20px;
  padding: 2.5px;
  height: 30px;
  width: 410px;
  text-align: right;
  margin: 2px;
}

#zero {
  width: 205px;
}
